/*= require_tree .*/
body 
  margin: 0
  #bar_stage
    height: 45px
    width: 100%
    position: fixed
    bottom: 0
    background: #0095DD
    border: 1px solid #00539F
    box-shadow: inset 0px 1px 1px rgba (0, 0, 0, 0)
    -webkit-box-sizing: border-box
    *
      -webkit-box-sizing: border-box
    #stage-wrapper
      height: 45px
    #profile
      width: 15%
      float: right
      height: 45px
      color: white
      font-family: "Josefin Sans"
      line-height: 45px
      font-size: 18px
      display: -webkit-box
      -webkit-box-pack: end
      -webkit-box-align: center
      img
        height: 30px 
        width: 30px
        display: block
      span
        display: block
        padding-left: 10px
      #button
        padding: 0 1em
        background: rgba(0,0,0,0.5)
        margin: 0 0 0 1em
        cursor: pointer
      #button:hover
        background: rgba(0,0,0,0.3)
        

